<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoo"
        android:label="Planty"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logoo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:screenOrientation="portrait"
            android:name=".userData"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name=".Premium"
            android:exported="true" />
        <activity
            android:screenOrientation="portrait"
            android:name=".WateringCycle"
            android:exported="true" />
        <activity
            android:screenOrientation="portrait"
            android:name=".addplant2"
            android:exported="true" />
        <activity
            android:screenOrientation="portrait"
            android:name=".SignUp"
            android:exported="true" />
        <activity
            android:screenOrientation="portrait"
            android:name=".LogIn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".ChooseLocation"
            android:exported="true" />
        <activity
            android:screenOrientation="portrait"
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:screenOrientation="portrait"
            android:name=".Home"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>